<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # If file or directory exists, don't rewrite
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Send everything else to index.php WITHOUT a slash
    RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
</IfModule>
